.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  &__container {
  }

  &__wrapper {
  }

  &__body {
    position: relative;
    min-height: 60px;
    padding: 5px 0;
    display: flex;
    width: 100%;
    align-items: center;
    @media (max-width: 480px) {
      justify-content: space-between;
    }
    @media (min-width: 480px) {
      min-height: 104px;
    }
  }

  &__logo {
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    color: $blackColor;
    z-index: 5;
  }

  &__menu {
    margin: 0 0 0 132px;
    @include adaptive-value("margin-left", 132, 20, 1);
  }
}

.menu {
  &__burger {
  }

  &__nav {
    @media (max-width: 480px) {
      transform: translate(0, -100%);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      &.active {
        transform: translate(0, 0);
      }
      z-index: 4;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:last-child) {
        margin: 0 0 24px 0;
      }
    }

    @media (min-width: 480px) {
      li {
        &:not(:last-child) {
          margin: 0 21px 0 0;
        }
      }
    }
    @media (max-width: 480px) {
      padding: 80px 0 0 0;
      flex-direction: column;
      text-align: center;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: inherit;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    @media (max-width: 480px) {
      font-size: 22px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $blackColor;
        text-decoration: underline;
      }
    }
  }
}

.burger-menu {
  &.active {
    span {
      opacity: 0;
      visibility: hidden;
    }

    &:before {
      content: "";
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &:after {
      content: "";
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @media (max-width: 480px) {
    display: block;
  }
  position: relative;
  display: none;
  right: 0;
  width: 30px;
  height: 18px;
  z-index: 5;

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: $blackColor;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: $blackColor;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: $blackColor;
  }
}