.title {
  font-weight: 700;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: $blackColor;
  margin: 0 0 10px 0;
  @include adaptive-value("font-size", 40, 32, 1);
  @include adaptive-value("line-height", 57, 46, 1);
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}